<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <h1>hellow</h1>

  <body>
    <script>

      var socket1 = new WebSocket('ws://$',window.location.hostname,':8000/ws/data/top_currencies_table/')

      socket1.addEventListener('message', (e) => {

          console.log("socket 2: " + e.data)
      })
      socket1.onopen = () => {
        console.log("test")
        socket1.send(JSON.stringify({exchange: "BINANCE",
                                                          pairs: ["BTC-USDT", "ETH-USDT", "ETH-BTC"]}))
    }
    
    </script>
  </body>
</html>
