# IDE 
.vscode

# Builds and Compiled Files
node_modules
frontend/node_modules/*
frontend/build

# Yarn Files
frontend/.yarn/*
!frontend/.yarn/cache
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/sdks
!frontend/.yarn/versions
yarn-error.log