[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
cryptofeed = "*"
qpython = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
compile = "python3 -m compileall -q ."
lint = "pylint --rcfile=.pylintrc ${PWD}"
format = "autopep8 -d --exit-code -r ."
test = "pytest"