.metric-box {
  width: 100%;
  height: 80%;
}

.metric-title {
  text-align: center;
  padding: 5%;
  padding-bottom: 0;
  font-size: 35px;
  font-weight: 1000;
}

.metric-desc {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 15px;
  font-weight: 1000;
  color: rgb(88, 102, 126);
}

.metrics-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.spinner-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.metric {
  font-size: large;
}
