.body {
  text-align: center;
}

.table-row {
  padding: "20px";
}

.table-header {
  border: "1px solid black";
  text-align: center;
  text-transform: capitalize;
}

.order-book-holder {
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  border: black;
  border-radius: 20px;
}

.component-title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
