.rectangle-container {
  display: flex;
  width: 40vw;
  height: 40vh;
  background: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  border-width: 32px;
  border-radius: 32px;
}

.dropdown-menu {
    background-color: rgb(255, 255, 255);
    
}

.dropdown {
    display: flex;
    background-color: rgba(214, 46, 46, 0);
    right:0
}