.disabled-link{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    text-transform: capitalize;
    padding: 5px 20px 5px 20px;
    background-color: lightgray;
}

.link{
    text-transform: capitalize;
    padding: 5px 8px 5px 8px;
    
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 100;
}

.logo-container{
    width: 85%;
    padding: 0 40px 0 40px;
}

.canvas-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.info-text{
    color: rgba(0, 0, 0, 0.4);
}

.info-box{
    text-align: center;
    flex-grow: 1;
}