.graph-container {
  height: 100%;
  width: 100%;
}

.graph-title {
  padding-bottom: 0;
  padding-top: 1%;
  font-size: 35px;
  font-weight: 100;
}

.graph-desc {
  font-size: 15px;
  font-weight: 1000;
  color: rgb(88, 102, 126);
}

.top-cur-graph-spinner-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
