.analysis-page-box {
  background-color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) white;
}

.analysis-title-box {
  display: flex;
  justify-content: center;
}

.analysis-page-title {
  justify-content: center;
  text-align: center;
  flex-grow: 100;
}

.analysis-content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 100;
}

.tab-container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 5px;
}

.tab {
  font-size: x-large;
  padding: 0 10px;
  border-radius: 20px;
  cursor: pointer;
}

.main-content-box {
  flex-grow: 100;
  margin: 5px 5px;
  overflow-y: scroll;
}
