.analysis-page-box {
  background-color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) white;
}

.analysis-title-box {
  display: flex;
  justify-content: center;
  background: white;
}

.analysis-page-title {
  justify-content: center;
  text-align: center;
  flex-grow: 100;
}

.analysis-content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 100;
}

.tab-container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 10px;
}

.tab {
  font-size: x-large;
  padding: 0 10px;
  border-radius: 20px;
  cursor: pointer;
}

.main-content-box {
  flex-grow: 100;
  margin: 5px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.summary-title {
  margin: 10px 10px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.coin-summary {
  white-space: pre-line;
  margin-right: 20px;
}

.his-price-graph-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.time-buttons-container {
  margin: 10px 0;
}

.time-button {
  margin-right: 30px;
  text-transform: capitalize;
  flex-shrink: 1000;
}
