.page-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.arbitrage-title-box {
  justify-content: center;
  display: flex;
  padding: 3%;
  padding-bottom: 1%;
}

.arbitrage-title {
  text-align: center;
  flex-grow: 1000;
  font-weight: bold;
  font-size: 60px;
}

.arbitrage-container {
  flex-grow: 10000;
  margin: 10px;
  display: flex;
}

.arbitrage-column {
  width: 50%;
  height: 100%;
}

.analysis-summary {
  white-space: pre-line;
  margin-right: 10px;
  margin: 10px;
}

.arbitrage-column:nth-child(2) {
  margin-left: 10px;
}

.arbitrage-sub-title {
  margin: 10px 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
p {
  font-size: x-large;
}
