.page-box {
  background-color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;

  width: 100%;
  /* overflow: hidden; */

  font-family: "Nunito Sans", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) white;
}

.page-box::webkir-scrollbar-thumb {
  color: rgba(0, 0, 0, 0.4);
}

.page-box::webkir-scrollbar-track {
  color: white;
}

.title-box {
  display: flex;
  padding: 3%;
  padding-bottom: 1%;
  justify-content: center;
}

.page-title {
  justify-content: center;
  text-align: center;
  flex-grow: 100;
  font-weight:bold;
  font-size: 60px;
  text-shadow: 2px 2px 2px grey;
}

.content-box {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.left-box {
  display: flex;
  flex-flow: column;
  width: 70%;
  flex-grow: 1;
  padding:2%;
  /* border-right: 1px solid rgba(0, 0, 0, 0.4); */
}

.graph {
  margin-bottom: 5%;
  height: 100%;
}

.table {
  height: 40%;
}

.right-box {
  width: 30%;
  padding:2%;
  flex-grow: 1;
}

.indicator-box {
  height: 30%;
  background-color:#f0f4fc;
  border-radius:25px;
  margin-bottom: 9%;
  box-shadow:  0px 1px 12px lightgray;
}

.newsfeed-box {
  height: 100%;
  margin-bottom:9%;
  background-color:#F5F5F5;
  border-radius:25px;
  box-shadow:  0px 1px 12px lightgray;
}