.page {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: flex;
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  padding: 40px;
}

.graph-container {
  width: 66vw;
  padding-right: 10px;
}

.order-book-container {
  width: 34vw;
  overflow: auto;
  height: 100vh;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: black;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1a1a1a;
}

*::-webkit-scrollbar-corner {
  background-color: black;
}
